<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cellr" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="color-scheme" content="light">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cellr">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,700;0,9..144,900;1,9..144,300;1,9..144,700&family=Outfit:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/daisyui.css" rel="stylesheet" />
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-theme="cellr">
    <div class="app-shell">
      <main class="page-content">
        <% if notice.present? %>
          <div class="alert alert-success mb-4">
            <span><%= notice %></span>
          </div>
        <% end %>

        <% if alert.present? %>
          <div class="alert alert-error mb-4">
            <span><%= alert %></span>
          </div>
        <% end %>

        <%= yield %>
      </main>

      <nav class="bottom-nav" aria-label="Primary">
        <div class="bottom-nav__items">
          <% default_cellar = user_signed_in? ? current_user.default_cellar : nil %>
          <% home_path_url = default_cellar ? cellar_path(default_cellar) : profile_path %>
          <%= link_to home_path_url, class: "nav-item #{default_cellar && current_page?(cellar_path(default_cellar)) ? 'nav-item--active' : ''}" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" aria-hidden="true">
              <path d="M410.613,5.068C409.354,2.002,406.368,0,403.055,0H108.927c-3.314,0-6.3,2.002-7.558,5.068 C85.275,44.276,72.907,85.096,64.611,126.39c-0.889,4.425,3.064,8.843,7.488,9.733l114.692,0.047 c-5.371,83.308-5.778,163.839-1.214,239.66H79.419c-13.364-70.389-14.971-142.725-4.415-213.951 c0.661-4.464-2.421-8.618-6.884-9.28c-4.472-0.67-8.619,2.421-9.28,6.884c-17.371,117.208-2.665,237.355,42.529,347.449 c1.258,3.065,4.244,5.068,7.558,5.068h294.128c3.314,0,6.3-2.002,7.558-5.068c32.296-78.678,48.99-161.558,49.615-246.335 C460.876,172.822,444.183,86.848,410.613,5.068z M413.259,59.915c2.901,9.039,5.59,18.12,8.082,27.234H322.7 c-0.842-9.203-1.755-18.311-2.739-27.234H413.259z M114.43,16.34h283.122c3.619,9.029,7.018,18.11,10.215,27.234H104.222 C107.423,34.423,110.825,25.34,114.43,16.34z M306.293,87.149h-99.399c0.797-9.133,1.65-18.236,2.547-27.234h94.075 C304.512,68.831,305.441,77.933,306.293,87.149z M98.756,59.915h94.262c-0.89,9.003-1.733,18.108-2.525,27.234H90.681 C93.17,78.021,95.866,68.939,98.756,59.915z M82.685,119.83c1.186-5.458,2.445-10.906,3.775-16.34h339.124 c1.334,5.437,2.604,10.883,3.794,16.34H82.685z M98.777,452.085c-2.887-9.029-5.591-18.106-8.073-27.234h98.577 c0.842,9.201,1.755,18.309,2.739,27.234H98.777z M397.552,495.66H114.43c-3.61-9.011-6.996-18.095-10.189-27.234h96.89 c0.041,0,108.787,0,108.787,0c0.042,0,97.849,0,97.849,0C404.57,477.55,401.171,486.631,397.552,495.66z M205.687,424.851h99.399 c-0.799,9.136-1.651,18.24-2.547,27.234h-94.076C207.47,443.167,206.54,434.065,205.687,424.851z M413.259,452.085h-94.297 c0.89-8.999,1.733-18.105,2.525-27.234h99.854C418.849,433.965,416.161,443.046,413.259,452.085z M425.584,408.511H313.879 c-0.023,0-0.046,0-0.068,0H196.894c-0.039,0-110.384,0-110.384,0c-1.326-5.434-2.589-10.879-3.773-16.34h346.641 C428.187,397.628,426.919,403.074,425.584,408.511z M432.715,375.83H325.196c2.197-34.122,3.586-68.228,4.112-101.515 c0.071-4.512-3.528-8.227-8.041-8.298c-0.044-0.001-0.087-0.001-0.131-0.001c-4.452,0-8.097,3.573-8.167,8.042 c-0.527,33.365-1.929,67.563-4.149,101.773H201.949c-4.607-75.751-4.198-156.292,1.217-239.66h106.871 c2.067,34.02,3.143,69.404,3.179,105.343c0.004,4.51,3.661,8.161,8.17,8.161c4.52-0.004,8.175-3.666,8.17-8.179 c-0.035-35.913-1.102-71.289-3.147-105.327h106.308C447.866,215.454,447.866,296.546,432.715,375.83z" />
            </svg>
            <span>Home</span>
          <% end %>

          <%# Cellars moved to Profile page; link removed from bottom nav %>

          <%= link_to happy_hour_path, class: "nav-item #{current_page?(happy_hour_path) ? 'nav-item--active' : ''}" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" aria-hidden="true">
              <path d="M210.239,161.63c-11.85-11.979-13.889-31.229-3.614-44.605c12.415-16.161,35.529-17.243,49.375-3.245 c13.847-13.998,36.961-12.917,49.376,3.245c10.275,13.375,8.235,32.626-3.614,44.605l-32.5,32.855 c-7.318,7.398-19.204,7.398-26.522,0L210.239,161.63z M66.272,197.619c3.14,3.22,8.315,3.22,11.455,0l19.953-20.46 c7.017-7.196,8.387-18.749,2.104-26.593c-7.145-8.922-20.021-9.403-27.784-1.442c-7.763-7.96-20.639-7.479-27.784,1.442 c-6.283,7.845-4.913,19.397,2.104,26.593L66.272,197.619z M434.272,197.642c3.14,3.22,8.315,3.22,11.455,0l19.952-20.46 c7.017-7.196,8.387-18.748,2.104-26.593c-7.145-8.922-20.021-9.403-27.784-1.442c-7.763-7.96-20.639-7.479-27.784,1.442 c-6.283,7.845-4.913,19.398,2.104,26.593L434.272,197.642z M471.999,357.836l-45.246,45.247c-3.116,3.116-8.166,3.125-11.293,0.02 l-5.704-5.663c-6.268-6.224-6.286-16.355-0.04-22.601l5.72-5.719l0.002-0.002l-41.23-41.23 c-8.093,4.397-17.194,6.745-26.662,6.745c-14.953,0-29.012-5.82-39.586-16.398l-45.266-45.266 c-3.152-3.152-5.149-6.989-6.178-11.021c-1.028,4.033-3.022,7.87-6.17,11.021c-0.004,0-0.004,0-0.004,0l-45.27,45.266 c-10.574,10.578-24.629,16.398-39.586,16.398c-9.467,0-18.566-2.348-26.658-6.744L97.6,369.12v0l5.72,5.719 c6.246,6.246,6.228,16.377-0.04,22.601l-5.704,5.663c-3.127,3.105-8.177,3.096-11.293-0.02l-45.246-45.247 c-3.132-3.132-3.123-8.213,0.021-11.333l5.704-5.664c6.258-6.214,16.363-6.196,22.599,0.041l5.6,5.6l0.004,0.004 l41.295-41.233c-11.442-21.204-8.251-48.279,9.627-66.173l45.258-45.297c9.07-9.063,24.887-9.063,33.949,0l45.25,45.25 c3.149,3.152,5.145,6.99,6.173,11.023c1.029-4.033,3.026-7.871,6.178-11.023l45.25-45.25c9.063-9.063,24.875-9.063,33.945,0 l45.258,45.297c17.877,17.894,21.069,44.968,9.63,66.171l41.295,41.233l0.002-0.002l5.6-5.6c6.236-6.236,16.341-6.254,22.6-0.041 l5.704,5.664C475.122,349.624,475.131,354.705,471.999,357.836z M239.027,250.344l-45.246-45.25 c-1.512-1.508-3.523-2.344-5.66-2.344c-2.141,0-4.148,0.828-5.656,2.344l-45.258,45.297c-2.677,2.678-4.722,5.713-6.479,8.869 c15.251-9.472,35.881-7.598,45.512-1.819c16.021,9.738,27.028,23.662,42.09,24.914l20.697-20.697 C242.145,258.539,242.145,253.461,239.027,250.344z M274.008,261.656l20.697,20.697c15.063-1.251,26.07-15.175,42.091-24.914 c9.63-5.778,30.259-7.653,45.51,1.818c-1.756-3.155-3.802-6.189-6.478-8.867l-45.258-45.297c-1.508-1.516-3.516-2.344-5.652-2.344 s-4.148,0.836-5.66,2.344l-45.25,45.25C270.891,253.461,270.891,258.539,274.008,261.656z" />
            </svg>
            <span>Happy Hour</span>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to profile_path, class: "nav-item #{current_page?(profile_path) ? 'nav-item--active' : ''}" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
              <span>Profile</span>
            <% end %>

            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-item" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H6a2 2 0 01-2-2V7a2 2 0 012-2h5a2 2 0 012 2v1" />
              </svg>
              <span>Sign Out</span>
            <% end %>
          <% end %>
        </div>
      </nav>
    </div>
  </body>
</html>
